BOT_TOKEN=8845393911:AAE91A_9VPGF3cKv7sKEVcYm293vSef3KIo
WEBAPP_URL=https://wathis.bothost.tech
DATABASE_URL=postgresql+asyncpg://wathis:wathis@postgres:5432/wathis
REDIS_URL=redis://redis:6379/0
YOUTUBE_API_KEY=AIzaSyCYgJtQ2sXlBwKz4lrIG-6tD7TY4hWYYWk
GOOGLE_CLIENT_ID=730302073943-okflh7fjoee2kaclc1g8cgcoinaubbje.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
VK_SERVICE_TOKEN=N9Wkp1mz0hGNEGoBEDP3
CORS_ORIGINS=https://wathis.bothost.tech
